### TASK 2 : USE APACHE SPARK TO ANALYZE A LARGE DATASET, IMPLEMENTING OPERATIONS LIKE FILTERING, GROUPING, AND AGGREGATIONS.

### DELIVERABLE: A SPARK JOB SCRIPT WITH OUTPUT SHOWING ANALYSIS RESULTS.

In [9]:
# Install PySpark
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [10]:
#Setup and Import
from pyspark.sql.functions import col, count, avg, sum, max, min

In [11]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when, count, isnan

In [12]:
#Create SparkSession
spark = SparkSession.builder \
    .appName("SparkDataAnalysis") \
    .getOrCreate()

In [13]:
# Load Dataset
df = spark.read.csv("Dataset .csv", header=True, inferSchema=True)
df.show(5)

+-------------+--------------------+------------+----------------+--------------------+--------------------+--------------------+----------+---------+--------------------+--------------------+----------------+-----------------+-------------------+-----------------+--------------------+-----------+----------------+------------+-----------+-----+
|Restaurant ID|     Restaurant Name|Country Code|            City|             Address|            Locality|    Locality Verbose| Longitude| Latitude|            Cuisines|Average Cost for two|        Currency|Has Table booking|Has Online delivery|Is delivering now|Switch to order menu|Price range|Aggregate rating|Rating color|Rating text|Votes|
+-------------+--------------------+------------+----------------+--------------------+--------------------+--------------------+----------+---------+--------------------+--------------------+----------------+-----------------+-------------------+-----------------+--------------------+-----------+----------------+------------+-----------+-----+
|      6317637|    Le Petit Souffle|         162|     Makati City|Third Floor, Cent...|Century City Mall...|Century City Mall...|121.027535|14.565443|French, Japanese,...|                1100|Botswana Pula(P)|              Yes|                 No|               No|                  No|          3|             4.8|  Dark Green|  Excellent|  314|
|      6304287|    Izakaya Kikufuji|         162|     Makati City|Little Tokyo, 227...|Little Tokyo, Leg...|Little Tokyo, Leg...|121.014101|14.553708|            Japanese|                1200|Botswana Pula(P)|              Yes|                 No|               No|                  No|          3|             4.5|  Dark Green|  Excellent|  591|
|      6300002|Heat - Edsa Shang...|         162|Mandaluyong City|Edsa Shangri-La, ...|Edsa Shangri-La, ...|Edsa Shangri-La, ...|121.056831|14.581404|Seafood, Asian, F...|                4000|Botswana Pula(P)|              Yes|                 No|               No|                  No|          4|             4.4|       Green|  Very Good|  270|
|      6318506|                Ooma|         162|Mandaluyong City|Third Floor, Mega...|SM Megamall, Orti...|SM Megamall, Orti...|121.056475|14.585318|     Japanese, Sushi|                1500|Botswana Pula(P)|               No|                 No|               No|                  No|          4|             4.9|  Dark Green|  Excellent|  365|
|      6314302|         Sambo Kojin|         162|Mandaluyong City|Third Floor, Mega...|SM Megamall, Orti...|SM Megamall, Orti...|121.057508| 14.58445|    Japanese, Korean|                1500|Botswana Pula(P)|              Yes|                 No|               No|                  No|          4|             4.8|  Dark Green|  Excellent|  229|
+-------------+--------------------+------------+----------------+--------------------+--------------------+--------------------+----------+---------+--------------------+--------------------+----------------+-----------------+-------------------+-----------------+--------------------+-----------+----------------+------------+-----------+-----+
only showing top 5 rows

In [14]:
#Basic Filtering
filtered_df = df.filter(col("Votes") > 100)
filtered_df.show(5)

+-------------+--------------------+------------+----------------+--------------------+--------------------+--------------------+----------+---------+--------------------+--------------------+----------------+-----------------+-------------------+-----------------+--------------------+-----------+----------------+------------+-----------+-----+
|Restaurant ID|     Restaurant Name|Country Code|            City|             Address|            Locality|    Locality Verbose| Longitude| Latitude|            Cuisines|Average Cost for two|        Currency|Has Table booking|Has Online delivery|Is delivering now|Switch to order menu|Price range|Aggregate rating|Rating color|Rating text|Votes|
+-------------+--------------------+------------+----------------+--------------------+--------------------+--------------------+----------+---------+--------------------+--------------------+----------------+-----------------+-------------------+-----------------+--------------------+-----------+----------------+------------+-----------+-----+
|      6317637|    Le Petit Souffle|         162|     Makati City|Third Floor, Cent...|Century City Mall...|Century City Mall...|121.027535|14.565443|French, Japanese,...|                1100|Botswana Pula(P)|              Yes|                 No|               No|                  No|          3|             4.8|  Dark Green|  Excellent|  314|
|      6304287|    Izakaya Kikufuji|         162|     Makati City|Little Tokyo, 227...|Little Tokyo, Leg...|Little Tokyo, Leg...|121.014101|14.553708|            Japanese|                1200|Botswana Pula(P)|              Yes|                 No|               No|                  No|          3|             4.5|  Dark Green|  Excellent|  591|
|      6300002|Heat - Edsa Shang...|         162|Mandaluyong City|Edsa Shangri-La, ...|Edsa Shangri-La, ...|Edsa Shangri-La, ...|121.056831|14.581404|Seafood, Asian, F...|                4000|Botswana Pula(P)|              Yes|                 No|               No|                  No|          4|             4.4|       Green|  Very Good|  270|
|      6318506|                Ooma|         162|Mandaluyong City|Third Floor, Mega...|SM Megamall, Orti...|SM Megamall, Orti...|121.056475|14.585318|     Japanese, Sushi|                1500|Botswana Pula(P)|               No|                 No|               No|                  No|          4|             4.9|  Dark Green|  Excellent|  365|
|      6314302|         Sambo Kojin|         162|Mandaluyong City|Third Floor, Mega...|SM Megamall, Orti...|SM Megamall, Orti...|121.057508| 14.58445|    Japanese, Korean|                1500|Botswana Pula(P)|              Yes|                 No|               No|                  No|          4|             4.8|  Dark Green|  Excellent|  229|
+-------------+--------------------+------------+----------------+--------------------+--------------------+--------------------+----------+---------+--------------------+--------------------+----------------+-----------------+-------------------+-----------------+--------------------+-----------+----------------+------------+-----------+-----+
only showing top 5 rows

In [15]:
# Grouping + Aggregation
# Example: Group by a categorical column (say "category") and count occurrences
grouped_df = df.groupBy("City").agg(count("*").alias("count"))
grouped_df.show()

+--------------------+-----+
|                City|count|
+--------------------+-----+
|           Bangalore|   20|
|           Tangerang|    2|
|               Kochi|   20|
|          Aurangabad|   20|
|           Faridabad|  251|
|            Armidale|    1|
|              Monroe|    1|
|            Savannah|   20|
|          New Delhi"|    1|
|              Mysore|   20|
|Huda City Centre ...|    1|
|           Bras�_lia|   20|
|            Valdosta|   20|
|           Edinburgh|   20|
|           Singapore|   20|
|       San Juan City|    2|
|          Manchester|   20|
|             Jakarta|   16|
|          Beechworth|    1|
|               Patna|   20|
+--------------------+-----+
only showing top 20 rows

In [16]:
# Multiple aggregations
agg_df = df.groupBy("City").agg(
    avg("Votes").alias("avg_votes"),
    sum("Votes").alias("total_votes"),
    max("Votes").alias("max_votes")
)
agg_df.show()

+--------------------+------------------+-----------+---------+
|                City|         avg_votes|total_votes|max_votes|
+--------------------+------------------+-----------+---------+
|           Bangalore|           2805.75|      56115|    10934|
|           Tangerang|            1183.5|       2367|     2212|
|               Kochi|            359.95|       7199|      722|
|          Aurangabad|              64.8|       1296|      240|
|           Faridabad|25.840637450199203|       6486|      799|
|            Armidale|              25.0|         25|       25|
|              Monroe|              65.0|         65|       65|
|            Savannah|            768.85|      15377|     1803|
|          New Delhi"|              NULL|       NULL|     NULL|
|              Mysore|             212.9|       4258|      393|
|Huda City Centre ...|              NULL|       NULL|     NULL|
|           Bras�_lia|             10.85|        217|       30|
|            Valdosta|             210.0|       4200|      575|
|           Edinburgh|             112.3|       2246|      329|
|           Singapore|              32.0|        608|       35|
|       San Juan City|             340.5|        681|      458|
|          Manchester|             203.8|       4076|      745|
|             Jakarta|          742.6875|      11883|     1662|
|          Beechworth|             237.0|        237|      237|
|               Patna|              76.0|       1520|      162|
+--------------------+------------------+-----------+---------+
only showing top 20 rows

In [17]:
agg_df.coalesce(1).write.csv("aggregated_results.csv", header=True)